
<app-mini-nav (menuclicked)="sideNav.open()"></app-mini-nav>

<mat-sidenav-container class="nav-container" [hasBackdrop]="false">
  <mat-sidenav mode="over" position="start" #sideNav>
    
    <div class="nav-upper-part">
      <button mat-icon-button class="menu-button" (click)="sideNav.close()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    
    <div class="nav-bottom-part">
      <mat-nav-list>
        <mat-list-item>
          <mat-icon>payment</mat-icon>
          Payments
        </mat-list-item>
        <mat-list-item>
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </mat-list-item>
        <mat-list-item>
          <mat-icon>security</mat-icon>
          Permissions
        </mat-list-item>
        <mat-list-item>
          <mat-icon>shopping_cart</mat-icon>
          Sales
        </mat-list-item>
        <mat-list-item>
          <mat-icon>healing</mat-icon>
          Stock Adjustments
        </mat-list-item>
        <mat-list-item>
          <mat-icon>tune</mat-icon>
          General Codes
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <app-toolbar-one class="tool-bar"></app-toolbar-one>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
