<div class="nav-mini">

    <div class="nav-upper-part">
      <button mat-icon-button (click)="OnClicked()" [@slideDown]="slideState==='start' ?'end':'start'">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="nav-bottom-part">
        <mat-nav-list>
            <mat-list-item>
              <mat-icon>payment</mat-icon>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>dashboard</mat-icon>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>security</mat-icon>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>shopping_cart</mat-icon>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>healing</mat-icon>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>tune</mat-icon>
            </mat-list-item>
          </mat-nav-list>
    </div>
</div>