<mat-toolbar color="primary">
    <span>Project Planner</span>

    <button mat-button [matMenuTriggerFor]="menu">Test</button>
    <mat-menu #menu="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <span class="spacer"></span>

    <span class="profile-name">John Numan</span>
    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu" xPosition="before">
        <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            Account
        </button>
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            Settings
        </button>
        <button mat-menu-item>
            <mat-icon>help</mat-icon>
            Help
        </button>
        <button mat-menu-item>
            <mat-icon>power_settings_new</mat-icon>
            Logout
        </button>
    </mat-menu>
</mat-toolbar>